@use 'resources' as res;
@use 'barra' as *;

@mixin cap {
    div#barra {
        @include barra;
    }

    .logos {
        #logofib, #logoupc {
            display: none;
        }
        
        #titol {
            padding-left: 0;
            border-left: none;
        }
    }
    
    .buscar form {
        display: flex;
        height: 2em;
    }
    
    .buscar #tipus_cerca, .buscar #camp_cerca, .buscar button {
        background: black;
        color: white;
        border: 2px solid white;
    }
    
    .buscar #tipus_cerca {
        border-radius: 2em 0 0 2em;
        margin-right: 0.3em;
        padding: 0 0.5em;
        width: auto;
    }
    
    .buscar #camp_cerca {
        border-right: none;
        padding: 0 0.5em;
        min-width: 0;
    }
    
    .buscar button {
        position: static;
        border-left: none;
        border-radius: 0 2em 2em 0;
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    
    .buscar button .ui-icon {
        margin: 0;
        background: res.feather-icon("search");
        background-size: cover;
        filter: invert(1);
        position: static;
        width: 1.5em;
        height: 1.5em;
    }
    
    .buscar button span .ui-icon {
        display: none;
    }
    
    .buscar button span .ui-button-text {
        display: none;
    }
    
    #nav > li:first-child {
        display: none;
    }
    
    #nav > li {
        background: var(--background-color);
        border: 2px white solid;
        border-left: none;
        border-radius: 0;
    }

    #nav > li.sel {
        background: white;
    }
    
    #nav > li:nth-child(2) {
        border-radius: 10px 0 0 10px;
        border-left: 2px white solid;
    }
    
    #nav > li:last-child {
        border-radius: 0 10px 10px 0;
    }
    
    #nav > li a {
        color: white;
    }
    
    #nav > li.hover {
        background: white;
        border-bottom: 2px white solid;
    }
    
    #nav > li.hover a, #nav > li.sel a {
        color: black;
    }
    
    #nav ul.subnav {
        padding-left: 0;
        border: 2px white solid;
        border-radius: 10px;
        background: black;
        top: 2.5em !important;
    }
    
    #nav ul.subnav li {
        border-radius: 0;
        background: none;
        border-bottom: 2px white solid;
    }
    
    #nav ul.subnav li:last-child {
        border-bottom: none;
    }
    
    #nav ul.subnav li a {
        color: white;
        background: none;
        padding: 0.5em;
    }
    
    #nav ul.subnav li:hover {
        background: white;
    }
    
    #nav ul.subnav li:hover a {
        color: black;
        text-decoration: none;
    }
    
    .usuari {
        background: black;
        border: white 2px solid;
        border-radius: 10px;
        bottom: -1px !important;
    }
    
    .usuari .pestanya_usuari {
        background: none;
        padding: 0.45em;
    }
    
    .usuari .nom a, .usuari .nom a:visited {
        color: white;
    }
    
    .usuari .sortir, .usuari .sortir:hover {
        padding: 0;
        background: none;
        display: flex;
    }
    
    .usuari .sortir a, .usuari .sortir a {
        font-size: 0 !important;
        display: inline-block;
        background: res.feather-icon("log-out");
        background-size: cover;
        filter: invert(1);
        width: 1.5rem;
        height: 1.5rem;
    }
}