/* ==UserStyle==
@name           {{ name }}
@namespace      {{ namespace }}
@version        {{ version }}
@description    {{ description }}
@author         {{ author }}
@license        {{ license }}
==/UserStyle== */

@-moz-document domain("{{ domain }}") {
  {{ main_css | indent(2) }}
}